.hero {
  position: relative;

  min-height: 665px;
  overflow: hidden;
  isolation: isolate;
}

.image {
  object-fit: cover;
  object-position: 50% 10%;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;

  background: rgba(0, 0, 0, 0.2);

  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  min-height: 665px;

  padding-top: 120px;
  padding-bottom: 58px;
  z-index: 2;
}

.title {
  color: var(--color-white);

  color: var(--color-milky);
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  font-weight: 400;

  text-transform: uppercase;
}

.subtitle {
  margin-top: 20px;

  color: var(--color-milky);

  font-family: var(--font-main);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.content > :last-child {
  margin-top: 28px;
}
