.icon {
  position: relative;

  display: block;

  width: 20px;
  height: 18px;
}

.icon span {
  position: absolute;
  left: 0;

  width: 20px;
  height: 2px;
  border-radius: 999px;

  background: var(--color-text);

  transform-origin: center;

  transition:
    top 0.3s ease,
    transform 0.3s ease,
    opacity 0.2s ease;
}

.icon span:nth-child(1) {
  top: 2px;
}

.icon span:nth-child(2) {
  top: 8px;
}

.icon span:nth-child(3) {
  top: 14px;
}

/* Open state */

.open span:nth-child(1) {
  top: 8.5px;
  transform: rotate(45deg);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(3) {
  top: 8.5px;
  transform: rotate(-45deg);
}
